body {
    background-color: lightcyan;
}
#header {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    background-color: lightcyan;
}
.docs_page {
    margin-top: 100px;
}
.page {
    margin: 100px auto;
    max-width: 900px;
    height: 300px;
    padding: 30px;
    background-color: white;
}
.page a {
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
}
.subtitle {
    margin: 50px 0;
}
.subject {
    background-color: white;
    margin: 30px;
    padding: 10px;
}
.logo {
    width: 50px;
    height: 50px;
    margin: 10px;
}
.codeExample {
    width: 350px;
}

.imageStyle2 {
    width: 600px;
}

